<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>第三周作业 - 双飞翼布局</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
  <!-- 使用低版本HTML, 所以用DIV布局，没有使用HTML5标签 -->
  <!-- 仅仅是做了双飞翼布局的一个Demo，没有对内容进行雕琢。 -->

  <!-- 头部 -->
  <div class="header">
    <h1>这里是网站标题</h1>
    <span>这里是网站副标题</span>
  </div>
  <!-- 内容部分，三栏布局 -->
  <div class="article">
    <!-- 中间部分，优先渲染 -->
    <div class="content">
      <div class="content-inner">
        这里就是内容了
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
      </div>
    </div>
    <!-- 左边部分 -->
    <div class="left">
      <ul>
        <li>我是第1个菜单</li>
        <li>我是第2个菜单</li>
        <li>我是第3个菜单</li>
        <li>我是第4个菜单</li>
        <li>我是第5个菜单</li>
        <li>我是第6个菜单</li>
      </ul>
    </div>
    <!-- 右边栏部分 -->
    <div class="right">
      <div class="adv">我是第一个广告</div>
      <div class="adv">我是第二个广告</div>
    </div>
  </div>
  <!-- 底部 -->
  <div class="footer">
    我是底部 版权所有 © 极客学院
  </div>
</body>

</html>
